<div class="container">
<a class="button" routerLink="/complain"> Complain</a>
<div class="box">
  <table id="com">
    <thead>
      <td>Roll no</td>
      <td>Name</td>
      <td>Email</td>
      <td>Location</td>
      <td>Contact</td>
      <td>Vehicle Type</td>
      <td>Issue</td>
      <td>Date</td>
      <td>Process</td>
    </thead>
<tr class="don" *ngFor="let data of checkout">
           <td>{{data.id}} </td>
           <td>{{data.name}} </td>
           <td>{{data.email}} </td>
           <td>{{data.location}} </td>
           <td>{{data.contact}} </td>
           <td>{{data.option}}</td>
           <td>{{data.issue}}</td>
           <td>{{data.date}}</td>
           <td><button class="btn" (click)="delete(data.id)">Done <i class="fa fa-check"></i></button></td>
    </tr>
  </table>
  </div>
</div>

